<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<link type="text/css" rel="stylesheet" th:href="@{/styles/cssandjs/muumi.css}" />
<title>Server Programming withSpring Boot</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h4 th:inline="text">Hei [[${#httpServletRequest.remoteUser}]]!</h4>
<div class="topnav"><form th:action="@{/logout}"method="post"><input type="submit"value="Kirjaudu ulos"/></form>
<main>
<h3>Muumiastiasto</h3>
<form th:action="@{/add}"method="get"><input type="submit"value="Lisää uusi"/></form>
<div class="grid-container">
<div class="grid-item"><h4>Kuva</h4></div>
<div class="grid-item"><h4>Nimi</h4></div>
<div class="grid-item"><h4>Kategoria</h4></div>
<div class="grid-item"><h4>Valinnat</h4></div>

<tr th:each= "muumi : ${muumis}">

<!-- IF CUSTOMER IS ANONYMOUS -->
<div th:if="${muumi.url!='' and muumi.url!=NULL}">
   <div class="grid-item"><img th:src="@{${muumi.url}}"/></div>
   </div>
<div th:if="${muumi.url==''}">
  	<div class="grid-item"><img src="https://webstore.iea.org/content/images/thumbs/default-image_450.png"/>
   </div>
</div>
<div th:if="${muumi.url==NULL}">
   <div class="grid-item"><img src="https://webstore.iea.org/content/images/thumbs/default-image_450.png"/></div>
</div>

<div class="grid-item"><td th:text="${muumi.Nimi}"></td></div>
<div class="grid-item"><td th:text="${muumi.kategoria}"></td></div>
<div class="grid-item"><a th:href="@{/edit/{id}(id=${muumi.id})}">Muokkaa</a>
<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${muumi.id})}">Poista</a></td>
</div>
</div>
</div>

</main>
</body>
</html>
